<mat-toolbar class="toolbar" color="primary">
    <button *ngIf="isLoggedIn" mat-icon-button class="menu-icon" (click)="drawer.toggle()" aria-label="Menu button icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="clickable" (click)="this.router.navigate(['']);">ITex WMS</span>
    <span class="spacer"></span>
    
    <div *ngIf="this.isLoggedIn; else loginElse">
      <span>Welcome {{ username }}</span>
      <button mat-icon-button class="accessible-forward-icon" (click)="logout()" aria-label="Logout button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <ng-template #loginElse>
      <button mat-icon-button class="accessible-forward-icon" (click)="login()" aria-label="Login button with share icon">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>
      
</mat-toolbar>

<mat-drawer-container  class="matdr-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <div *ngIf="checkUserRole('HR')">
        <!-- HR REDIRECTIONS -->
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['workers-details']);">
          WORKERS DETAILS
        </button>
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['worker-demand-hr']);">
          WORKER DEMAND
        </button>
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['job-offer']);">
          JOB OFFERS
        </button>
      </div>
      <div *ngIf="checkUserRole('CCM')">
        <!-- CCM REDIRECTIONS -->
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['workers']);">
          USER LIST
        </button>
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['worker-demand-ccm']);">
          WORKER DEMAND
        </button>
      </div>
      <div *ngIf="checkUserRole('TEAM_LEADER')">
        <!-- TEAM_LEADER REDIRECTIONS -->
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['workers-activities']);">
          WORKERS ACTIVITIES
        </button>
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['worker-demand-tl']);">
          WORKER DEMAND
        </button>
      </div>
      <div *ngIf="checkUserRole('DEVELOPER')">
        <!-- DEVELOPER REDIRECTIONS -->
        <button mat-raised-button class="redirect-button" (click)="this.router.navigate(['timesheet']);">
          TIMESHEET
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>