.spacer {
  flex: 1 1 auto;
}
.matdr-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav {
  margin-top: 60px;
  padding: 40px;
  overflow: auto;
}
.mat-drawer-content{
  padding-top: 60px;
  width: 100%;
  overflow: scroll;
}
.toolbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.redirect-button{
  clear: both;
  float: right;
  margin: 3px;
  width: 100%;
}
.clickable:hover {
  cursor: pointer;
  font-weight: bold;
}