<div class="modal-header">
    <h4 class="modal-title">Delete Job Offer</h4>
    <button type="button" class="close" (click)="deleteOfferModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <h1>Are You sure to delete this Job Offer?</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="deleteOfferModalRef.hide()">Decline</button>
  </div>