<div class="modal-header">
    <h4 class="modal-title">Delete workday</h4>
    <button type="button" class="close" (click)="deleteModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <h1>Are You sure to delete this workday?</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="deleteModalRef.hide()">Decline</button>
  </div>