.bg{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.multiple-line, .multiple-line h1, .multiple-line h2{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
}
h1{
    font-size: 8vw;
    padding-bottom: 3vw;
}
h2 {
    font-size: 5vw;
}
.redirect:hover{
    font-weight: bold;
    cursor: pointer;
}
.bg-1{
    background-image: url("../../../assets/bg1.jpg");
    width: 100%;
    height: 100vh;

}
.bg-2{
    background-image: url("../../../assets/bg2.jpg");
    width: 100%;
    height: 100vh;
}
.bg.fl {
    flex-direction: column !important;
}
.row {
    margin-bottom: 20px;
    background: rgb(169,236,232);
    background: radial-gradient(circle, rgba(169,236,232,1) 0%, rgba(105,219,218,1) 100%);
    color: rgb(75, 75, 75) !important;
    text-shadow: none !important;
    border-radius: 20px !important;
    padding: 30px !important;
}
