<div class="bg bg-1">
    <div class="multiple-line">
        <h1>ITex</h1>
        <h2>The ONE and ONLY</h2>
    </div>
</div>

<div class="bg bg-2">
    <div class="fl">
        <div class="row bg-blue-gradient shadow-sm" *ngFor="let joboffer of joboffers">
            <div class="col-12">
                <h3>Looking for {{joboffer.exp}} {{joboffer.spec.name}}</h3>
                <div *ngIf="joboffer.skills.length>0">
                    <p>Skills you need to have:</p>
                    <ul>
                        <li *ngFor="let skill of joboffer.skills">{{skill.name}} </li>
                    </ul>
                </div>
                <p>{{joboffer.description}}</p>
            </div>
        </div>
    </div>
</div>
