<div class="modal-header">
    <h4 class="modal-title">Edit demand status</h4>
    <button type="button" class="close" (click)="demandStatusCcmModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
            <label for="id">Demand ID</label>
            <input type="text" class="form-control" id="id" placeholder="{{demand.id}}" disabled>
        </div> 
        <div class="form-group">
            <label for="experience">Experience</label>
            <input type="text" class="form-control" id="experience" placeholder="{{demand.exp}}" disabled>
        </div> 
        <div class="form-group">
            <label for="specialization">Specialization</label>
            <input type="text" class="form-control" id="specialization" placeholder="{{demand.spec.name}}" disabled>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select *ngIf="demand.status=='NEW'" id="status" class="form-select">
                <option value="NEW" selected>NEW</option>
                <option value="CCM_ACCEPTED">CCM_ACCEPTED</option>
                <option value="FULFILLED">FULFILLED</option>
            </select>
            <select *ngIf="demand.status=='IN_PROGRESS'" id="status" class="form-select">
                <option value="IN_PROGRESS" selected>IN_PROGRESS</option>
                <option value="FULFILLED">FULFILLED</option>
            </select>
            <select *ngIf="demand.status=='CCM_ACCEPTED'" id="status" class="form-select">
                <option value="IN_PROGRESS" selected>CCM_ACCEPTED</option>
                <option value="FULFILLED">FULFILLED</option>
            </select>
        </div>  
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="demandStatusCcmModalRef.hide()">Decline</button>
  </div>