<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-sm-12">
            <mat-card id="calendar" class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected" (selectedChange)="openAddModal()"></mat-calendar>
            </mat-card>
        </div>
        <div class="col-xl-6 col-sm-12 bg-white rounded shadow-sm workdays-list">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <!-- Date Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>
              
                  <!-- Description Column -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>
              
                  <!-- Duration Column -->
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration time </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration.hours}}h <span *ngIf="element.duration.minutes>0">{{element.duration.minutes}}m</span> </td>
                  </ng-container>
              
                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
            
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button type="button" class="btn btn-warning" (click)="openEditModal(element.id)">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="openDeleteModal(element.id)">Delete</button> 
                      </td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
        </div>
    </div>
</div>