<div class="container-fluid">   
            <div class="row">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceNew">
                  <!-- Id Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element1"> {{element1.id}} </td>
                  </ng-container>

                  <!-- Specialization Column -->
                  <ng-container matColumnDef="spec">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let element1"> {{element1.spec.name}} </td>
                  </ng-container>

                  <!-- Experience Column -->
                  <ng-container matColumnDef="exp">
                    <th mat-header-cell *matHeaderCellDef> Experience </th>
                    <td mat-cell *matCellDef="let element1"> {{element1.exp}} </td>
                  </ng-container>
              
                  <!-- Skills Column -->
                  <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef> Skills required </th>
                    <td mat-cell *matCellDef="let element1"><span *ngFor="let skill of element1.skills ">{{skill.name}} </span></td>
                  </ng-container>
              
                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element1">{{element1.status}}</td>
                  </ng-container>
            
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element1"> 
                      <button type="button" class="btn btn-warning" (click)="openChangeStatusModal(element1.id)">Edit status</button>
                      </td>
                  </ng-container>
              
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
              </div>
            </div>
            <div class="row">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceInProgress">
                  <!-- Id Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element2"> {{element2.id}} </td>
                  </ng-container>

                  <!-- Specialization Column -->
                  <ng-container matColumnDef="spec">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let element2"> {{element2.spec.name}} </td>
                  </ng-container>

                  <!-- Experience Column -->
                  <ng-container matColumnDef="exp">
                    <th mat-header-cell *matHeaderCellDef> Experience </th>
                    <td mat-cell *matCellDef="let element2"> {{element2.exp}} </td>
                  </ng-container>
              
                  <!-- Skills Column -->
                  <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef> Skills required </th>
                    <td mat-cell *matCellDef="let element2"><span *ngFor="let skill of element2.skills ">{{skill.name}} </span></td>
                  </ng-container>
              
                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element2">{{element2.status}}</td>
                  </ng-container>
            
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element2"> 
                      <button type="button" class="btn btn-warning" (click)="openChangeStatusModal(element2.id)">Edit status</button>
                      </td>
                  </ng-container>
              
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
              </div>
              
            </div>
            <div class="row">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceCcmAccepted">
                  <!-- Id Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element3"> {{element3.id}} </td>
                  </ng-container>

                  <!-- Specialization Column -->
                  <ng-container matColumnDef="spec">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let element3"> {{element3.spec.name}} </td>
                  </ng-container>

                  <!-- Experience Column -->
                  <ng-container matColumnDef="exp">
                    <th mat-header-cell *matHeaderCellDef> Experience </th>
                    <td mat-cell *matCellDef="let element3"> {{element3.exp}} </td>
                  </ng-container>
              
                  <!-- Skills Column -->
                  <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef> Skills required </th>
                    <td mat-cell *matCellDef="let element3"><span *ngFor="let skill of element3.skills ">{{skill.name}} </span></td>
                  </ng-container>
              
                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element3">{{element3.status}}</td>
                  </ng-container>
            
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element3"> 
                      <button type="button" class="btn btn-warning" (click)="openChangeStatusModal(element3.id)">Edit status</button>
                      </td>
                  </ng-container>
              
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
              </div>
              
            </div>
</div>