<div class="container-fluid">
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Developer Column -->
        <ng-container matColumnDef="developer">
          <th mat-header-cell *matHeaderCellDef> Developer </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}} </td>
        </ng-container>

         <!-- Workdays Column -->
         <ng-container matColumnDef="workdays">
          <th mat-header-cell *matHeaderCellDef> Workdays </th>
          <td mat-cell *matCellDef="let element"> 
            <table *ngIf="element.workdays.length>0; else noWorkdays" mat-table [dataSource]="element.workdays">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let wd">{{wd.date}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let wd">{{wd.description}}</td>
              </ng-container>
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef>Duration</th>
                <td mat-cell *matCellDef="let wd">{{wd.duration.hours}}h <span *ngIf="wd.duration.minutes>0">{{wd.duration.minutes}}m</span></td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let wd">{{wd.status}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let wd">
                      <button class="btn btn-success" (click)="updateWorkdayStatus(wd.id, 'ACCEPTED')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                          <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                          <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg> Accept
                      </button>
                      <button class="btn btn-danger" (click)="updateWorkdayStatus(wd.id, 'DECLINED')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> Decline
                      </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="InnerColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: InnerColumns;"></tr>
            </table>
            <ng-template #noWorkdays>
              This worker has no workdays in last 2 months.
            </ng-template>
          </td>
        </ng-container>
    
        <!-- Skills Column -->
        <ng-container matColumnDef="skills">
          <th mat-header-cell *matHeaderCellDef> Skills </th>
          <td mat-cell *matCellDef="let element">
              <tr *ngFor="let skill of element.skills">
                <td>{{skill.name}}</td>
              </tr>
          </td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
    </div>
</div>