table {
    width: 100%;
}

.container-fluid{
    min-height: 50vh;
    max-height: 100vh;
}

.user-list {
    overflow-y: scroll;
    max-height: 85vh;
}

.mat-elevation-z8{
    margin-bottom: 5px;
    box-shadow: none;
}   