<div class="container-fluid">
  <div class="col-lg-12 col-xs-12 bg-white rounded shadow-sm demand-list">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Surname </th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
        <!-- Exp Column -->
        <ng-container matColumnDef="exp">
          <th mat-header-cell *matHeaderCellDef> Experience </th>
          <td mat-cell *matCellDef="let element"> {{element.exp}} </td>
        </ng-container>
    
        <!-- Spec Column -->
        <ng-container matColumnDef="spec">
          <th mat-header-cell *matHeaderCellDef> Specialization </th>
          <td mat-cell *matCellDef="let element"> {{element.spec.name}} </td>
        </ng-container>
    
        <!-- Skills Column -->
        <ng-container matColumnDef="skills">
          <th mat-header-cell *matHeaderCellDef> Skills </th>
          <td mat-cell *matCellDef="let element"> <span *ngFor="let skill of element.skills">{{skill.name}} </span></td>
        </ng-container>
    
        <!-- DevTeam Column -->
        <ng-container matColumnDef="devTeam">
          <th mat-header-cell *matHeaderCellDef> DevTeam </th>
          <td mat-cell *matCellDef="let element"> {{element.devTeam.name}} </td>
        </ng-container>
  
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-primary" (click)="openEditDevTeamModal(element.id)">Change DevTeam</button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageEvent = $event; onPageChange($event)" aria-label="Select page of periodic elements">
      </mat-paginator>
  
    </div>
  </div>
</div>