<div class="modal-header">
    <h4 class="modal-title">Edit workday</h4>
    <button type="button" class="close" (click)="editModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" placeholder="{{workday.date}}" disabled>
      </div>    
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" id="desc" placeholder="{{workday.description}}" value="{{workday.description}}">
      </div>    
      <div class="row form-group">
        <label for="hours">Duration time</label>
        <div class="col-6">
          <label class="sr-only" for="hours">Hours</label>
          <div class="input-group mb-2 mr-sm-2">
            <input type="number" min="0" max="12" class="form-control" id="hours" placeholder="Hours" value="{{workday.duration.hours}}">
            <div class="input-group-prepend">
              <div class="input-group-text">h</div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="sr-only" for="minutes">Minutes</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="number" min="0" max="59" class="form-control" id="minutes" placeholder="Minutes"value="{{workday.duration.minutes}}">
          <div class="input-group-prepend">
            <div class="input-group-text">m</div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="editModalRef.hide()">Decline</button>
  </div>