div{
    width: 100%;
    height: 96vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:contain;
    background-image: url("../../../assets/403-forbidden.jpg");
}