<div class="modal-header">
    <h4 class="modal-title">Edit Demand</h4>
    <button type="button" class="close" (click)="editModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
            <label for="experience_edit">Experience</label>
            <select id="experience_edit" class="form-select">
                <option value="INTERN" [selected]="demand.exp=='INTERN'">INTERN</option>
                <option value="JUNIOR" [selected]="demand.exp=='JUNIOR'">JUNIOR</option>
                <option value="MID" [selected]="demand.exp=='MID'">MID</option>
                <option value="SENIOR" [selected]="demand.exp=='SENIOR'">SENIOR</option>
                <option value="PRO" [selected]="demand.exp=='PRO'">PRO</option>
            </select>
        </div> 
        <div class="form-group">
            <label for="specialization_edit">Specialization</label>
            <select id="specialization_edit" class="form-select">
                <option *ngFor="let spec of specializations" value="{{spec.id}}" [selected]="spec.id==demand.spec.id">{{spec.name}}</option>
            </select>
        </div>   
        <div class="form-group">
            <label for="skills">Skills</label>
            <div id="skills">
                <div class="form-check form-check-inline col-4" *ngFor="let skill of skills">
                        <input class="form-check-input check-edit" type="checkbox" id="skill_{{skill.name}}_edit" value="{{skill.id}}" [checked]="isHisSkill(skill, demand.skills)">
                        <label class="form-check-label" for="skill_{{skill.name}}_edit">{{skill.name}}</label>
                </div>
            </div>
        </div>   
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="editModalRef.hide()">Decline</button>
  </div>