<div class="row">
    <div class="col-lg-4 col-xs-12 bg-white rounded shadow-sm demand-form">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="experience">Experience</label>
                        <select id="experience" class="form-select" required>
                            <option selected disabled>Pick experience</option>
                            <option value="INTERN">INTERN</option>
                            <option value="JUNIOR">JUNIOR</option>
                            <option value="MID">MID</option>
                            <option value="SENIOR">SENIOR</option>
                            <option value="PRO">PRO</option>
                        </select>
                    </div> 
                    <div class="form-group">
                        <label for="specialization">Specialization</label>
                        <select id="specialization" class="form-select" required>
                            <option selected disabled>Pick specialization</option>
                            <option *ngFor="let spec of specializations" value="{{spec.id}}">{{spec.name}}</option>
                        </select>
                    </div>   
                    <div class="form-group">
                        <label for="skills">Skills</label>
                        <div id="skills">
                            <div class="form-check form-check-inline col-2" *ngFor="let skill of skills">
                                    <input class="form-check-input" type="checkbox" id="skill_{{skill.name}}" value="{{skill.id}}">
                                    <label class="form-check-label" for="skill_{{skill.name}}">{{skill.name}}</label>
                            </div>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary mt-3" (click)="handleCreate()" [disabled]="!requiredInputs()">Create demand</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xs-12 bg-white rounded shadow-sm user-list">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Date Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- Info Column -->
              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Info </th>
                <td mat-cell *matCellDef="let element"> {{element.spec.name}}, {{element.exp}} </td>
              </ng-container>
          
              <!-- Skills required Column -->
              <ng-container matColumnDef="skills">
                <th mat-header-cell *matHeaderCellDef> Skills required </th>
                <td mat-cell *matCellDef="let element"><span *ngFor="let skill of element.skills ">{{skill.name}} </span></td>
              </ng-container>
          
              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
        
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="(element.status != 'CANCELED' && element.status != 'FULFILLED')">
                    <button type="button" class="btn btn-warning" (click)="openEditModal(element.id)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="openCancelModal(element.id)">Cancel</button>
                  </div>
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
    </div>
</div>