<div class="modal-header">
    <h4 class="modal-title">Edit Job Offer</h4>
    <button type="button" class="close" (click)="editOfferModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
            <label for="experience_edit">Experience</label>
            <select id="experience_edit" class="form-select">
                <option value="INTERN" [selected]="joboffer.exp=='INTERN'">INTERN</option>
                <option value="JUNIOR" [selected]="joboffer.exp=='JUNIOR'">JUNIOR</option>
                <option value="MID" [selected]="joboffer.exp=='MID'">MID</option>
                <option value="SENIOR" [selected]="joboffer.exp=='SENIOR'">SENIOR</option>
                <option value="PRO" [selected]="joboffer.exp=='PRO'">PRO</option>
            </select>
        </div> 
        <div class="form-group">
            <label for="specialization_edit">Specialization</label>
            <select id="specialization_edit" class="form-select">
                <option selected disabled>Pick specialization</option>
                <option *ngFor="let spec of specializations" value="{{spec.id}}" [selected]="spec.id==joboffer.spec.id">{{spec.name}}</option>
            </select>
        </div>   
        <div class="form-group">
            <label for="skills_edit">Skills</label>
            <div id="skills">
                <div class="form-check form-check-inline col-4" *ngFor="let skill of skills">
                    <input class="form-check-input check-edit" type="checkbox" id="skill_{{skill.name}}_edit" value="{{skill.id}}" [checked]="shouldBeChecked(skill, joboffer.skills)">
                    <label class="form-check-label" for="skill_{{skill.name}}_edit">{{skill.name}}</label>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description_edit" rows="5" value="{{joboffer.description}}"></textarea>
        </div>     
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="editOfferModalRef.hide()">Decline</button>
  </div>