<div class="modal-header">
    <h4 class="modal-title">Change developer's DevTeam</h4>
    <button type="button" class="close" (click)="editDevTeamModalRef.hide()">&times;</button>
</div>
<div class="modal-body">
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="{{worker.name}} {{worker.surname}}" disabled>
    </div>    
    <div class="form-group">
        <label for="specialization">Specialization</label>
        <input type="text" class="form-control" id="specialization" placeholder="{{worker.spec.name}}" disabled>
    </div>
    <div class="form-group">
        <label for="experience">Experience</label>
        <input type="text" class="form-control" id="experience" placeholder="{{worker.exp}}" disabled>
    </div> 
    <div class="form-group">
        <label for="devteam">DevTeam</label>
        <select id="devteam" class="form-select">
            <option *ngFor="let dt of devteams" value="{{dt.id}}" [selected]="worker.devTeam.id==dt.id">{{dt.name}}</option>
        </select>
    </div>   
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
<button type="button" class="btn btn-danger" (click)="editDevTeamModalRef.hide()">Decline</button>
</div>