<div class="modal-header">
    <h4 class="modal-title">Show developer's info</h4>
    <button type="button" class="close" (click)="showWorkerDetailsModalRef.hide()">&times;</button>
</div>
<div class="modal-body">
<form>
    <div class="form-group">
        <label for="joindate">Join date</label>
        <input type="text" class="form-control" id="joindate" placeholder="{{worker.createdAt}}" disabled>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="{{worker.name}} {{worker.surname}}" disabled>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="{{worker.email}}" disabled>
    </div>       
    <div class="form-group">
        <label for="specialization">Specialization</label>
        <input type="text" class="form-control" id="specialization" placeholder="{{worker.spec.name}}" disabled>
    </div>
    <div class="form-group">
        <label for="experience">Experience</label>
        <input type="text" class="form-control" id="experience" placeholder="{{worker.exp}}" disabled>
    </div> 
    <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="salary" placeholder="{{worker.salaryPerHour}} PLN" disabled>
    </div>       
    
    <div class="form-group">
        <label for="bankaccnumber">Bank account no.</label>
        <input type="text" class="form-control" id="bankaccnumber" placeholder="{{worker.bankAccNumber}}" disabled>
    </div>
</form>