<div class="modal-header">
    <h4 class="modal-title">Cancel demand</h4>
    <button type="button" class="close" (click)="cancelModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <h1>Are You sure to cancel this demand?</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="handleAccept()">Accept</button>
    <button type="button" class="btn btn-danger" (click)="cancelModalRef.hide()">Decline</button>
  </div>